body {
  background-color:white;
  /*text-align: center;*/
  display: grid;
  justify-content: center;
  align-content: center;
}
h1{
  color:grey;
  /*text-align: center;*/
  display: grid;
  justify-content: center;
  align-content: center;
}
/*text-align: center;*/

